body {
    background-color: beige;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.release-countdown {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
    text-align: center;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
    font-size: 2rem;
}
