body {
    background-color: beige;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.set-release-title {
    text-align: center;
}

.release-countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
    font-size: 1rem;
}
