body {
    background-color: aquamarine;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.set-release-title {
    text-align: center;
    
}

.release-countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    text-align: center;
}

.countdown-days,
.countdown-hours,
.countdown-minutes,
.countdown-seconds {
    font-size: 1rem;
}

.search-bar {
    text-align: center ;
    margin-bottom: 40px;
}

#card-display {
    text-align: center;
}

.deck-counter {
    margin-top: 20px;
}

.card-count {
    font-weight: bold;
    font-style: italic;
}

/* Media queries */
@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 720px) {

}